# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
google_fonts/montserrat_alternates/MontserratAlternates-ThinItalic.ttf
google_fonts/montserrat_alternates/MontserratAlternates-Thin.ttf
google_fonts/montserrat_alternates/MontserratAlternates-SemiBoldItalic.ttf
google_fonts/montserrat_alternates/MontserratAlternates-SemiBold.ttf
google_fonts/montserrat_alternates/MontserratAlternates-Regular.ttf
google_fonts/montserrat_alternates/MontserratAlternates-MediumItalic.ttf
google_fonts/montserrat_alternates/MontserratAlternates-Medium.ttf
google_fonts/montserrat_alternates/MontserratAlternates-LightItalic.ttf
google_fonts/montserrat_alternates/MontserratAlternates-Light.ttf
google_fonts/montserrat_alternates/MontserratAlternates-Italic.ttf
google_fonts/montserrat_alternates/MontserratAlternates-ExtraLightItalic.ttf
google_fonts/montserrat_alternates/MontserratAlternates-ExtraLight.ttf
google_fonts/montserrat_alternates/MontserratAlternates-ExtraBoldItalic.ttf
google_fonts/montserrat_alternates/MontserratAlternates-ExtraBold.ttf
google_fonts/montserrat_alternates/MontserratAlternates-BoldItalic.ttf
google_fonts/montserrat_alternates/MontserratAlternates-Bold.ttf
google_fonts/montserrat_alternates/MontserratAlternates-BlackItalic.ttf
google_fonts/montserrat_alternates/MontserratAlternates-Black.ttf
assets/loaders/bottle-loader.gif
assets/images/no-image.jpg
